.game-screen {
    text-align: center;
}

.teams {
    display: flex;
    justify-content: space-between;
}

.team {
    width: max-content;
}

.home-team, .away-team {
    text-align: left;
}

.player-row {
    display: flex;
    width: fit-content;
}

.player-name {
    width: 150px;
    background-color: aqua;
}

.event-log {
    margin-top: 10px;
}

.rating {
    font-weight: bold;
    margin-left: 5px;
}